.footer {
  min-height: 100px;
  font-size: 0.8rem;
  background: #ECECEC;
  overflow: hidden;

  .footer--block {
    a {
      color: $colortheme;

      span {
        font-weight: bold;
      }
    }

    .by {
      a {
        color: #8b8b8b;
        font-weight: bold;
        transition-duration: 0.3s;
        &:hover
        {
          color: #515151;
        }
      }
    }
  }
}
