.post-title {
  * {
    vertical-align: middle;
  }

  img {
    height: 1em;
    margin-right: 10px;
  }
}

.post-date {
  font-size: 0.8em;
}

.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item-container {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.list-item-2-container {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.list-item {
  padding: 20px;
  border: 1px solid #C1C1C1;
  color: black;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortheme;
      text-decoration: none;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: $colortheme;
      img {
        width: 80%;
      }
    }

    .list-post-title {
      font-size: 22px;
      transition: .3s;
      color: $colortheme;
    }
    .list-post-description {
      font-size: 16px
    }

    .list-post-written {
      span {
        font-weight: bold
      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }
}

.list-item-2 {
  border: 1px solid #C1C1C1;
  padding: 40px;
  transition: .3s;
  font-size: 0.8em;
  color: black;

  &:hover {
    border-color: $colortheme;
  }

  .list-post-title * {
    margin-top: 0;
  }

  .list-post-description {
    p {
      margin: 0;
    }
    p + p {
      margin: 20px 0 0;
    }

    li {
      margin-left: 40px;
    }

    li + li {
      margin-top: 5px;
    }

    ul, ol {
      margin: 10px 0;
    }

    .footnotes {
      border-top: 1px solid #ddd;
      margin-top: 10px;
      padding-top: 10px;

      ol {
        font-size: 0.8em;
        margin-bottom: 0;

        li {
          margin-top: -$menuheight;
        }
      }
    }

    code, pre {
      font-size: 0.9em;
      font-family: 'Consolas', monospace;
      background: #eee;
      border-radius: 4px;
      padding: 4px;
    }
  }

  .list-item-2-img {
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
   }
}
