---
layout: default
---

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
      <img src="{{ page.icon | prepend: '/assets/img/' | prepend: site.baseurl | absolute_path }}">
      <span>{{ page.title }}</span>
    </h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <time>{{ page.date | date: '%Y년 %m월 %d일' }}</time>
    </div>
    <!-- titles -->

    <!-- content -->
    {{ content }}

    <!-- content -->
  </article>
</div>
